extends layout

block content
	h1 #{title} #{produto_detail[0].nome}
	hr

	each produto in produto_detail
		div(class='row')
			h3 #[em Dados Básicos]
			div(class='col-sm-6')
				p #[strong ID:] #{produto._id}
				p #[strong Descrição:] #{produto.nome}
				p #[strong Preço Sugerido:] R$ #{produto.preco_sugerido_br}
			div(class='col-sm-6')
				if itempedido_list.length > 0
					p(style='color: red') #[em Não é possível deletar produto que possui itens de pedidos associados ao mesmo.]
					p(style='color: red') #[em Efetue o tratamento adequado dos itens relacionados abaixo antes de deletar este produto.]
				else
					form(method='POST' action='')
						div.form-group
							p(style='color: red') #[em Você realmente deseja deletar este produto? Após confirmar não será possível desfazer esta operação.]
							input#_id.form-control(type='hidden', placeholder='_id do produto' required='true' name='_id' value=(undefined===produto ? '' : produto._id) readonly='readonly')
						button.btn.btn-primary(type='submit') Deletar
					if errors
						ul
							for error in errors
								li #{error.msg}
		div(class='row')
			hr
			h3 #[em Itens de Pedidos Associados]

			div.table-responsive
				table.table.table-striped.table-sm
					thead
						tr
							th ID Item
							th Quantidade
							th Preço Unitário
							th ID Pedido
					each item in itempedido_list
						tbody
							tr
								td
									a(href=item.url) #{item._id}
								td #{item.quantidade}
								td R$ #{item.preco_br}
								td
									a(href=item.id_pedido.url) #{item.id_pedido._id}
					else
						p Não foram encontrados itens.